In [1]:
import pandas as pd
import statsmodels.api as sm

In [2]:
d_set2= pd.read_csv("general_data.csv")

In [3]:
d_set2=d_set2.dropna()     # To drop Null values
d_set2=d_set2.drop_duplicates()     # To drop duplicate values
d_set=d_set2.drop(columns=['Over18','EmployeeCount','StandardHours','EmployeeID'])

In [4]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
d_set["Attrition"] = lb.fit_transform(d_set["Attrition"])
d_set["BusinessTravel"] = lb.fit_transform(d_set["BusinessTravel"])
d_set["Department"] = lb.fit_transform(d_set["Department"])
d_set["EducationField"] = lb.fit_transform(d_set["EducationField"])
d_set["Gender"] = lb.fit_transform(d_set["Gender"])
d_set.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,0,1,Healthcare Representative,Married,131160,1.0,11,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,0,1,Research Scientist,Single,41890,0.0,23,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,4,Sales Executive,Married,193280,1.0,15,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,3,Human Resources,Married,83210,3.0,11,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,1,Sales Executive,Single,23420,4.0,12,2,9.0,2,6,0,4

# Creating Dependent Variable and Independent Variable.

In [5]:
Y = d_set[['Attrition']]
X = d_set[['Age','BusinessTravel','Department','DistanceFromHome','Education','EducationField',
            'Gender','MonthlyIncome','NumCompaniesWorked','PercentSalaryHike',
            'StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion',
            'YearsWithCurrManager']]

# Defining the Constant.

In [6]:
X1 = sm.add_constant(X)

# Creating Logistic Model

In [7]:
Logi = sm.Logit(Y,X1)
result = Logi.fit()

Optimization terminated successfully.
         Current function value: 0.403919
         Iterations 7

In [8]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4382
Model:                          Logit   Df Residuals:                     4365
Method:                           MLE   Df Model:                           16
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                 0.08436
Time:                        19:03:22   Log-Likelihood:                -1770.0
converged:                       True   LL-Null:                       -1933.1
Covariance Type:            nonrobust   LLR p-value:                 9.516e-60
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       1.0578      0.386      2.741      0.006       0.301       1.814
Age                        -0.0346      0.007     -5.089      0.000      -0.048      -0.021
BusinessTravel             -0.0056      0.065     -0.086      0.931      -0.132       0.121
Department                 -0.2512      0.081     -3.120      0.002      -0.409      -0.093
DistanceFromHome           -0.0030      0.005     -0.572      0.567      -0.013       0.007
Education                  -0.0587      0.042     -1.402      0.161      -0.141       0.023
EducationField             -0.1100      0.033     -3.318      0.001      -0.175      -0.045
Gender                      0.0757      0.088      0.856      0.392      -0.098       0.249
MonthlyIncome           -2.433e-06   9.45e-07     -2.576      0.010   -4.28e-06   -5.82e-07
NumCompaniesWorked          0.1094      0.018      6.036      0.000       0.074       0.145
PercentSalaryHike           0.0132      0.012      1.137      0.256      -0.010       0.036
StockOptionLevel           -0.0471      0.051     -0.927      0.354      -0.147       0.053
TotalWorkingYears          -0.0563      0.012     -4.763      0.000      -0.079      -0.033
TrainingTimesLastYear      -0.1324      0.035     -3.802      0.000      -0.201      -0.064
YearsAtCompany              0.0028      0.018      0.154      0.878      -0.033       0.039
YearsSinceLastPromotion     0.1290      0.020      6.354      0.000       0.089       0.169
YearsWithCurrManager       -0.1275      0.022     -5.851      0.000      -0.170      -0.085
===========================================================================================
"""

# Conclusion from above Summary:-
1. 'BusinessTravel','DistanceFromHome','Education','Gender','PercentSalaryHike','StockOptionLevel','YearsAtCompany' has no significance, on Attrition value as p-value is greater than 0.05.

2. "Age","NumCompaniesWorked","TotalWorkingYears","YearsSinceLastPromotion","YearsWithCurrManager" have the highest significant, on Attrition value.

3."Department","MonthlyIncome", "EducationField" have a moderate significance on Attrition value.