In [1]:
import pandas as pd
import statsmodels.api as sm

In [2]:
d_set1= pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [3]:
d_set1.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
d_set1=d_set1.drop(columns=['ID', 'ZIP Code'])

In [5]:
d_set1.head(5)

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

# Creating Dependent Variable and Independent Variable.

In [6]:
Y = d_set1[['Personal Loan']]
X = d_set1[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard']]

# Defining the Constant.

In [7]:
X1 = sm.add_constant(X)

# Creating Logistic Model

In [8]:
Logi = sm.Logit(Y,X1)
result = Logi.fit()

Optimization terminated successfully.
         Current function value: 0.128435
         Iterations 9

# Creating Summary of Model

In [22]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4989
Method:                           MLE   Df Model:                           10
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.5777
Time:                        12:33:47   Log-Likelihood:                -667.60
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Age                   -0.5068      0.022    -23.028      0.000      -0.550      -0.464
Experience             0.5080      0.024     20.829      0.000       0.460       0.556
Income                 0.0515      0.003     20.537      0.000       0.047       0.056
Family                 0.6323      0.071      8.855      0.000       0.492       0.772
CCAvg                  0.1115      0.039      2.871      0.004       0.035       0.188
Education              1.7301      0.111     15.577      0.000       1.512       1.948
Mortgage               0.0006      0.001      1.040      0.298      -0.001       0.002
Securities Account    -1.0120      0.283     -3.574      0.000      -1.567      -0.457
CD Account             3.8155      0.319     11.977      0.000       3.191       4.440
Online                -0.7169      0.154     -4.658      0.000      -1.019      -0.415
CreditCard            -1.1676      0.201     -5.801      0.000      -1.562      -0.773
======================================================================================
"""

# Conclusion from above Summary:-
1. Mortgage has very low significanc, on weather the Customer will take the Personal Loan or not from the Bank as p-value is greater than 0.05.
2. All other Independent Varable except "Mortgage" have high significant, on weather the Customer will take the Personal Loan or not from the Bank.