In [11]:
import pandas as pd
from scipy.stats import pearsonr as ps
dataset = pd.read_csv("general_data.csv")
dataset.head()
dataset.dropna()     # To drop Null values
dataset.drop_duplicates()     # To drop duplicate values

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [13]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
dataset["Attrition"] = lb.fit_transform(dataset["Attrition"])
dataset["BusinessTravel"] = lb.fit_transform(dataset["BusinessTravel"])
dataset["Department"] = lb.fit_transform(dataset["Department"])
dataset["EducationField"] = lb.fit_transform(dataset["EducationField"])
dataset["Gender"] = lb.fit_transform(dataset["Gender"])
dataset["Over18"] = lb.fit_transform(dataset["Over18"])
dataset.head(5)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4

In [29]:
stats,p= ps(dataset.Attrition,dataset.Age)
print("Correlation of Attrition with Age is =",stats)

stats,p= ps(dataset.Attrition,dataset.BusinessTravel)
print("Correlation of Attrition with BusinessTravel is =",stats)

stats,p= ps(dataset.Attrition,dataset.Department)
print("Correlation of Attrition with Department is =",stats)

stats,p= ps(dataset.Attrition,dataset.DistanceFromHome)
print("Correlation of Attrition with DistanceFromHome is =",stats)

stats,p= ps(dataset.Attrition,dataset.Education)
print("Correlation of Attrition with Education is =",stats)

stats,p= ps(dataset.Attrition,dataset.EducationField)
print("Correlation of Attrition with EducationField is =",stats)

stats,p= ps(dataset.Attrition,dataset.Gender)
print("Correlation of Attrition with Gender is =",stats)


stats,p= ps(dataset.Attrition,dataset.PercentSalaryHike)
print("Correlation of Attrition with PercentSalaryHike is =",stats)

stats,p= ps(dataset.Attrition,dataset.StockOptionLevel)
print("Correlation of Attrition with StockOptionLevel is =",stats)


stats,p= ps(dataset.Attrition,dataset.TrainingTimesLastYear)
print("Correlation of Attrition with TrainingTimesLastYear is =",stats)

stats,p= ps(dataset.Attrition,dataset.YearsAtCompany)
print("Correlation of Attrition with YearsAtCompany is =",stats)

stats,p= ps(dataset.Attrition,dataset.YearsSinceLastPromotion)
print("Correlation of Attrition with YearsSinceLastPromotion is =",stats)

stats,p= ps(dataset.Attrition,dataset.YearsWithCurrManager)
print("Correlation of Attrition with YearsWithCurrManager is =",stats)

Correlation of Attrition with Age is = -0.15920500686577943
Correlation of Attrition with BusinessTravel is = 7.377694602218616e-05
Correlation of Attrition with Department is = -0.04820581991834
Correlation of Attrition with DistanceFromHome is = -0.00973014101017969
Correlation of Attrition with Education is = -0.01511116771096876
Correlation of Attrition with EducationField is = -0.057940312415680414
Correlation of Attrition with Gender is = 0.018125078877010273
Correlation of Attrition with PercentSalaryHike is = 0.032532594891053514
Correlation of Attrition with StockOptionLevel is = -0.0068388524032615
Correlation of Attrition with TrainingTimesLastYear is = -0.04943057624425494
Correlation of Attrition with YearsAtCompany is = -0.13439221398997714
Correlation of Attrition with YearsSinceLastPromotion is = -0.03301877514258435
Correlation of Attrition with YearsWithCurrManager is = -0.1561993159016281

In [15]:
dataset.corr()

#Correlation Matrix is as follows

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.024751,-0.010846,0.006963,-0.035706,0.043194,NaN,0.008649,-0.039352,...,0.299243,NaN,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,0.000074,-0.048206,-0.009730,-0.015111,-0.057940,NaN,-0.004729,0.018125,...,0.042345,NaN,0.032533,NaN,-0.006839,-0.170338,-0.049431,-0.134392,-0.033019,-0.156199
BusinessTravel,0.024751,0.000074,1.000000,-0.010982,0.024616,0.002755,-0.015462,NaN,-0.002590,-0.039243,...,0.022401,NaN,-0.031054,NaN,0.003683,0.033997,-0.041888,-0.014575,-0.032591,-0.022636
Department,-0.010846,-0.048206,-0.010982,1.000000,0.012134,-0.004597,0.013720,NaN,-0.003455,0.003158,...,-0.003954,NaN,-0.007840,NaN,0.010512,-0.019839,0.012866,0.010078,0.014845,0.018016
DistanceFromHome,0.006963,-0.009730,0.024616,0.012134,1.000000,-0.008638,-0.024665,NaN,-0.001097,-0.044173,...,-0.013843,NaN,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,0.002755,-0.004597,-0.008638,1.000000,0.012329,NaN,-0.009680,-0.016547,...,-0.016250,NaN,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EducationField,0.043194,-0.057940,-0.015462,0.013720,-0.024665,0.012329,1.000000,NaN,-0.000819,-0.005634,...,0.009023,NaN,-0.011214,NaN,0.021620,0.021593,-0.021793,0.023120,0.048181,0.021664
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.004729,-0.002590,-0.003455,-0.001097,-0.009680,-0.000819,NaN,1.000000,-0.013165,...,-0.001117,NaN,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
Gender,-0.039352,0.018125,-0.039243,0.003158,-0.044173,-0.016547,-0.005634,NaN,-0.013165,1.000000,...,-0.066924,NaN,0.011841,NaN,0.019237,-0.027598,-0.030167,-0.017277,-0.021812,0.004438
JobLevel,-0.002884,-0.010290,0.046111,0.002923,-0.037329,0.045746,-0.019528,NaN,-0.003303,-0.026854,...,-0.009875,NaN,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
,-0.044314,-0.031176,-0.037597,-0.032237,-0.021607,0.006410,0.008858,NaN,0.007338,0.007530,...,-0.020726,NaN,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,0.042345,0.022401,-0.003954,-0.013843,-0.016250,0.009023,NaN,-0.001117,-0.066924,...,1.000000,NaN,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
Over18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,-0.033137,0.032533,-0.031054,-0.007840,0.038125,-0.040531,-0.011214,NaN,-0.004456,0.011841,...,0.030860,NaN,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,-0.006839,0.003683,0.010512,0.011169,0.001261,0.021620,NaN,-0.014254,0.019237,...,0.017163,NaN,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,-0.170338,0.033997,-0.019839,0.009374,-0.010717,0.021593,NaN,-0.001063,-0.027598,...,0.238807,NaN,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.049431,-0.041888,0.012866,-0.009001,0.010472,-0.021793,NaN,-0.010191,-0.030167,...,-0.032286,NaN,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,-0.014575,0.010078,0.031684,0.006080,0.023120,NaN,0.004086,-0.017277,...,-0.117959,NaN,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,-0.032591,0.014845,0.002290,0.022490,0.048181,NaN,0.000256,-0.021812,...,-0.036656,NaN,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,-0.022636,0.018016,0.021584,0.005358,0.021664,NaN,0.008579,0.004438,...,-0.109667,NaN,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000